body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--info);
}

h1, h2, span, #pageNumber {
    color: var(--info);
    margin: 20px;
}

h3, i, #more p {
    color: #fff;
}

b {
    color: var(--info);
}

#more {
    display: none;
}

#more.show {
    display: block;
    padding: 20px;
    border-radius: 5px;
}

a {
    list-style: none;
}

a:hover {
    color: var(--info);
}

#name {
    text-decoration: none;
}

#content img {
    /* margin: 10px; */
    width: 100px;

}

.btn-info {
    margin: 2px;
}

.container {

    background-color: #333;
}

.page, #content, #pageNumber {
    text-align: center;
    margin: 20px;
    padding: 5px;
}

#details {
    border: 1px solid #333;
    margin: 20px;

}

#catImage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.left-indent {
    margin-left: 40px;
}

.hide {
    display: none;
}

.show {
    display: block;
}